body {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;
	padding: 1rem;

	.active {
		color: rgb(223, 212, 58);
	}


	.headerArea {
		h1 {
			color: #999;
			font-size: 2rem;
			margin-bottom: 0;
		}
		h2 {
			margin-top: -.5rem;
			margin-bottom: 1rem;
			font-size: .8rem;
			color: #666;
			font-style: italic;
		}
	}

	.sass-error-area {
		width: 18rem;
	}

	animation: fadein 2.5s ease-in;

	@keyframes fadein {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	.page {
		h2 {
			font-size: 1.5rem;
		}

		a {
			text-decoration: underline;
			color: rgb(224, 224, 131);
		}

		b {
			color: rgb(197, 153, 71);
		}

		li.main {
			margin-top: 1rem;
		}

		ul {
			list-style-type: disc;
			margin-left: 1rem;
		}
	}

}