@tailwind base;
@tailwind components;
@tailwind utilities;

$highlightShadowColor:yellow;

@layer components {
	a {
		@apply border-b border-slate-500
	}

	.smallcaps {
		font-variant: small-caps;
	}

	.loaderIcon {
		margin-right: 7px;
		top: 2px;
		animation: spin 1s infinite linear;
	}

	@keyframes spin {
		from {
			transform: scale(1) rotate(0deg);
		}

		to {
			transform: scale(1) rotate(360deg);
		}
	}

	.searchHighlight {
		color: yellow;
		text-shadow: 8px 8px 15px $highlightShadowColor, -8px 8px 15px $highlightShadowColor, 8px -8px 15px $highlightShadowColor, -8px -8px 15px $highlightShadowColor;
	}
}