@tailwind base;
@tailwind components;
@tailwind utilities;

$highlightShadowColor: rgb(128, 128, 80);
$highlightBlur: 15px;

@layer components {
	.progressIcon {
		@apply flex-shrink-0 text-xl mt-[.2rem];
	}

	.progressUnstartedIcon {
		@apply text-yellow-400;
	}

	.progressUnstarted {
		@apply text-green-400;
	}


	.progressDoingIcon {
		@apply text-green-300 italic;
	}

	.progressDoing {
		@apply text-green-400 italic;
	}

	.progressNextStepIcon {
		@apply text-green-300;
	}

	.progressNextStep {
		@apply text-green-400;
	}

	a {
		@apply border-dotted border-b border-slate-500;

		&:hover {
			@apply border-solid border-b border-slate-500;
		}
	}

	a.howtoLink {
		@apply border-b-0;
	}

	.smallcaps {
		font-variant: small-caps;
	}

	.loaderIcon {
		margin-right: 7px;
		top: 2px;
		animation: spin 1s infinite linear;
	}

	@keyframes spin {
		from {
			transform: scale(1) rotate(0deg);
		}

		to {
			transform: scale(1) rotate(360deg);
		}
	}

	.searchHighlight {
		color: rgb(233, 233, 38);
		text-shadow: 8px 8px $highlightBlur $highlightShadowColor, -8px 8px $highlightBlur $highlightShadowColor, 8px -8px $highlightBlur $highlightShadowColor, -8px -8px $highlightBlur $highlightShadowColor;
	}

	@media (max-width: 530px) {
		nav.mainnav {
			margin-bottom: 1rem;
		}

		.devInfo {
			display: none;

			div {
				color: red !important;
			}
		}

		.forayItem {
			margin-top: .5rem !important;
			margin-bottom: 2rem !important;
		}
	}
}