@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	a {
		@apply border-b border-slate-500
	}

	.smallcaps {
		font-variant: small-caps;
	}

	.loaderIcon {
		margin-right: 7px;
		top: 2px;
		animation: spin 1s infinite linear;
	}

	@keyframes spin {
		from {
			transform: scale(1) rotate(0deg);
		}

		to {
			transform: scale(1) rotate(360deg);
		}
	}

	.searchHighlight {
		color: lightgreen;
		text-shadow: 8px 8px 15px black, -8px -8px 15px black;
	}
}