@tailwind base;
@tailwind components;
@tailwind utilities;

$highlightShadowColor: rgb(128, 128, 80);
$highlightBlur: 15px;

@layer components {
	.progressIcon {
		@apply flex-shrink-0 text-xl mt-[.2rem];
	}

	.progressUnstartedIcon {
		@apply text-yellow-400;
	}

	.progressUnstarted {
		@apply text-green-400;
	}


	.progressDoingIcon {
		@apply text-green-300 italic;
	}

	.progressDoing {
		@apply text-green-400 italic;
	}

	.progressNextStepIcon {
		@apply text-green-300;
	}

	.progressNextStep {
		@apply text-green-400;
	}

	.progressParkedIcon {
		@apply text-gray-500;
	}

	.progressParked {
		@apply text-gray-500;
	}

	.progressSucceededIcon {
		@apply text-green-700;
	}

	.progressSucceeded {
		@apply text-green-700;
	}

	a {
		@apply border-dotted border-b border-slate-500;

		&:hover {
			@apply border-solid border-b border-slate-500;
		}
	}

	a.howtoLink {
		@apply border-b-0;
	}

	.smallcaps {
		font-variant: small-caps;
	}

	.loaderIcon {
		margin-right: 7px;
		top: 2px;
		animation: spin 1s infinite linear;
	}

	@keyframes spin {
		from {
			transform: scale(1) rotate(0deg);
		}

		to {
			transform: scale(1) rotate(360deg);
		}
	}

	.searchHighlight {
		color: rgb(233, 233, 38);
		text-shadow: 8px 8px $highlightBlur $highlightShadowColor, -8px 8px $highlightBlur $highlightShadowColor, 8px -8px $highlightBlur $highlightShadowColor, -8px -8px $highlightBlur $highlightShadowColor;
	}

	@media (max-width: 530px) {
		nav.mainnav {
			margin-bottom: 1rem;
		}

		.devInfo {
			display: none;

			div {
				color: red !important;
			}
		}

		.forayItem {
			margin-top: .5rem !important;
			margin-bottom: 2rem !important;
		}
	}


	.startersArea {
		display: grid;
		margin-top: 1rem;
		grid-template-columns: 13rem auto auto auto;
		grid-gap: 1px;
		padding: 1px;
		color: black;

		a {
			text-decoration: underline;
			@apply border-none;

			&:hover {
				@apply border-none;
			}
		}
	}

	.startersArea>div {
		padding: .5rem;
		font-size: .8rem;
		color: #aaa;
		display: flex;
		align-items: center;

		ul {
			list-style: disc;
			margin: 0 0 0 1rem;
		}
	}

	.startersArea>div.col1 {
		background-color: #111;
		font-size: 1.1rem;
		color: #aaa;
	}

	.startersArea1>div.col2 {
		background-color: rgb(125, 189, 125);
		color: black;
	}

	.startersArea1>div.col3 {
		background-color: rgb(82, 194, 82);
		color: black;
	}

	.startersArea1>div.col4 {
		background-color: rgb(62, 143, 62);
		color: black;
	}

	.startersArea2>div.col2 {
		background-color: #80562d;
		color: black;
	}

	.startersArea2>div.col3 {
		background-color: rgb(121, 121, 121);
		color: black;
	}

	.startersArea2>div.col4 {
		background-color: rgb(165, 148, 53);
		color: black;
	}

	.startersArea>div.blank {
		background-color: transparent;
	}

	.startersArea>div.header {
		color: #aaa;
		display: block;
		display: flex;
		align-items: end;
		display: flex;
		align-items: center;

		div.title {
			font-size: 2rem;
		}

		div.title1 {
			color: rgb(124, 219, 124);
		}

		div.title2 {
			color: rgb(102, 233, 102);
		}

		div.title3 {
			color: rgb(11, 172, 11);
		}

		div.title4 {
			color: rgb(172, 96, 25);
		}

		div.title5 {
			color: rgb(189, 189, 189);
		}

		div.title6 {
			color: rgb(179, 182, 22);
		}

		div.subtitle {
			font-style: italic;
			color: rgb(226, 226, 161);
			font-size: 1.3rem;
		}
	}

	.startersArea>div.flip {
		display: flex;
		justify-content: center;
		align-items: center;

		button {
			background-color: rgb(13, 13, 44);
			padding: .2rem;
			font-size: 2rem;

			&:hover {
				box-shadow: 1px 1px 20px 1px rgb(122, 122, 34);
			}
		}

	}
}