@tailwind base;
@tailwind components;
@tailwind utilities;

$highlightShadowColor: rgb(128, 128, 80);
$highlightBlur: 15px;

@layer components {
	a {
		@apply border-b border-slate-500;
	}

	a.howtoLink {
		@apply border-b-0;
	}

	.smallcaps {
		font-variant: small-caps;
	}

	.loaderIcon {
		margin-right: 7px;
		top: 2px;
		animation: spin 1s infinite linear;
	}

	@keyframes spin {
		from {
			transform: scale(1) rotate(0deg);
		}

		to {
			transform: scale(1) rotate(360deg);
		}
	}

	.searchHighlight {
		color: rgb(233, 233, 38);
		text-shadow: 8px 8px $highlightBlur $highlightShadowColor, -8px 8px $highlightBlur $highlightShadowColor, 8px -8px $highlightBlur $highlightShadowColor, -8px -8px $highlightBlur $highlightShadowColor;
	}

	a.howtoLink:hover span {
		// text-decoration: underline;
		border-bottom: 1px dotted #aaa;
	}

	@media (max-width: 530px) {
		.devInfo {
			display: none;
			div {
				color: red !important;
			}
		}
	}


}